<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tshock.manager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ts_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="co.tshock.manager.ui.activities.ServerListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.tshock.manager.ui.activities.server.CreateTokenActivity"
            android:label="@string/title_activity_generate_token"
            android:parentActivityName="co.tshock.manager.ui.activities.ServerListActivity"
            android:configChanges="orientation|screenSize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.tshock.manager.MainActivity" />
        </activity>
        <activity
            android:name="co.tshock.manager.ui.activities.server.ServerBroadcastActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/placeholder" >
        </activity>
        <activity
            android:name="co.tshock.manager.ui.activities.ServerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server" >
        </activity>
        <activity
            android:name="co.tshock.manager.ui.activities.dashboard.DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_dashboard" >
        </activity>
    </application>

</manifest>
